@import "tailwindcss";

@theme {
  --color-bpjs-primary: #00A651;
  --color-bpjs-secondary: #008C44;
  --color-bpjs-dark: #006633;
  --color-bpjs-light: #E5F9EB;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900;
}
